{% extends 'base.html.twig' %}

{% block title %}Gerer mes adresses | La Boutique Française{% endblock %}

{% block content %}

    <h1>Gerer mes adresses</h1>
    <a href="{{ path('app_account_address') }}">Retour</a><br>
    <hr>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.name)}}</div>
            <div class="col-md-6">{{ form_row(form.firstname)}}</div>
            <div class="col-md-6">{{ form_row(form.lastname)}}</div>
            <div class="col-md-6">{{ form_row(form.company)}}</div>
            <div class="col-md-6">{{ form_row(form.adress)}}</div>
            <div class="col-md-6">{{ form_row(form.post)}}</div>
            <div class="col-md-6">{{ form_row(form.city)}}</div>
            <div class="col-md-6">{{ form_row(form.country)}}</div>
        </div>
    

    {{ form_end(form) }}


{% endblock %}